* {
  font-family: Garamond;
}

body {
  margin: 0;
  padding: 0;
}

.baner1 {
  background-color: #00600F;
  color: white;
  text-align: center;
  width: 75%;
  height: 90px;
}

.baner2 {
  background-color: #00600F;
  color: white;
  width: 25%;
  height: 90px;
}

.both-baners {
  display: flex;
  flex-direction: row;
}

.main {
  background-color: #C8E6C9;
  height: 600px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100vw;
  flex-wrap: wrap;
}

.footer {
  background-color: #00600F;
  color: white;
}

h5 {
  background-color: #00600F;
  color: white;
  font-size: 200%;
  text-align: center;
  margin: 0;
}

h2 {
  text-align: right;
}

.produkt {
  margin: 10px;
  border: solid 1px #00600f;
  width: 300px;
}